{% extends "base.html" %}

{% block content %}
<div class="dashboard-container">
    <!--Welcome and todays' meals-->
    <div class="welcome-section">
        <!-- Welcome-->
        <div>
            <h1 class="welcome-title">Good-{{ time }} {{ user }}!</h1>
        </div>
        <!--Todays' meals-->
        <div class="todays-meals">
            <h2 class="meals-title">Let's see what you ate today!</h2>
            <ul class="meals-list">
                {% if not meal_list %}
                    <p>Add a food to see it here!</p>
                {% else %}
                    {% for meal in meal_list %}
                        <li>{{  meal  }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
    <!--Basic info view-->
    <div class="basic-info-section">
        <h2 class="basic-info-title">Here is the daily nutrient breakdown</h2>
        <table class="basic-info-table">
            <thead>
                <tr>
                    <th>Nutrient</th>
                    <th>Current</th>
                </tr>
            </thead>
            <tbody>
            {% for nutrient in nutrient_list %}
                <tr>
                    <th>{{ nutrient }}</th>
                    <th>{{ nutrient_list[nutrient] }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}