{% extends "base.html" %}

{% block content %}
<div>
    <!--Welcome and todays' meals-->
    <div>
        <!-- Welcome-->
        <div>
            <h1>Good-{{ time }} {{ user }}!</h1>
        </div>
        <!--Todays' meals-->
        <div>
            <ul> Meals Eaten Today
                {% for meal in meal_list %}
                    <li>{{ meal['name'] }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!--Basic info view-->
    <div>

    </div>
    <!--Nutrients table and graph view -->
    <div>
        <!--table-->
        <div>

        </div>
        <!--graph-->
        <div>

        </div>
    </div>
</div>
{% endblock %}