{% extends "base.html" %}

{% block content %}
<div class="dashboard-container">
    <!--Welcome and todays' meals-->
    <div class="welcome-section">
        <!-- Welcome-->
        <div>
            <h1 class="welcome-title">Good-{{ time }} {{ user }}!</h1>
        </div>
        <!--Todays' meals-->
        <div class="todays-meals">
            <h2 class="meals-title">Let's see what you ate today!</h2>
            <ul class="meals-list">
                {% for meal in meal_list %}
                    <li>{{  meal  }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!--Basic info view-->
    <div class="basic-info-section">
        <h2 class="basic-info-title">Here is the daily nutrient breakdown</h2>
        <table class="basic-info-table">
            <thead>
                <tr>
                    <th>Nutrient</th>
                    <th>Current</th>
                    <th>Target</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Calories</td>
                    <td>2000</td>
                    <td>1800</td>
                </tr>
                <tr>
                    <td>Protein</td>
                    <td>150g</td>
                    <td>120g</td>
                </tr>
                <tr>
                    <td>Fats</td>
                    <td>65g</td>
                    <td>60g</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--graph-->
    <div class="graph-section">
        <h2 class="graph-title">Nutrition Graph</h2>
        <!-- Graph content will go here -->
    </div>
</div>
{% endblock %}