{% extends "base.html" %}

{% block head%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../static/js/landingpage.js" type="module"></script>
</head>
{% endblock %}

{% block content %}
    <!--content-->
    <div id="content">
        <!-- Section 1-->
        <div class="hero-section">
            <div>
                <h2 class="hero-title">Transform your diet today, with science</h2>
            </div>
            <div>
                <button id="signupBtn" class="primary-btn" type="button">Get Started</button>
            </div>
        </div>
        <!-- Section 2-->
        <div class="content-row">
            <div class="content-text">
                <h2 class="section-title">Nutrition tracking made simple</h2>
                <p class="section-text">Nutrients scans the internet to find health information about the products you eat</p>
            </div>
            <div class="content-image">
                <img src="../static/images/orange.png" alt="apple">
            </div>
        </div>
        <!-- Section 3-->
        <div class="content-row content-row-reverse">
            <div class="content-text">
                <h2 class="section-title">Find out your diet habits</h2>
                <p class="section-text"> Get weekly and monthly reports, ensuring you stay ontop of your health goals</p>
            </div>
            <div class="content-image">
                <img src="../static/images/weekly-report.svg" alt="weekly report">
            </div>
        </div>
        <!-- Section 4-->
        <div class="content-row">
            <div class="content-text">
                <h2 class="section-title">Visualise your diet</h2>
                <p class="section-text">Choose a wide range of graphing tools to view your diet, how you like.</p>
            </div>
            <div class="content-image">
                <img src="../static/images/diet-graph.png" alt="diet graphs">
            </div>
        </div>
    </div>
{% endblock %}